<form [formGroup]="form" class="animate__fadeInRight">
  <div class="row m-0">
    <div class="col-12">
      <h3 class="m-0">Novo Paciente</h3>
      <span>Pré-cadastro do paciente</span>
    </div>
    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nome</mat-label>
        <input type="text" matInput placeholder="Digite primeiro Nome" autocomplete="off" formControlName="nome" />
        <mat-error>
          <app-error-control-message [control]="form.controls.nome" label="Nome"></app-error-control-message>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Sobrenome</mat-label>
        <input type="text" matInput placeholder="Digite o Sobrenome" autocomplete="off" formControlName="sobrenome" />
        <mat-error>
          <app-error-control-message [control]="form.controls.sobrenome" label="Sobrenome"></app-error-control-message>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-md-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>CPF</mat-label>
        <input
          type="text"
          matInput
          placeholder="Digite o CPF"
          autocomplete="off"
          mask="000.000.000-00"
          formControlName="cpf"
        />
        <mat-error>
          <app-error-control-message [control]="form.controls.cpf" label="CPF"></app-error-control-message>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-md-8">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>E-mail</mat-label>
        <input type="text" matInput placeholder="Digite o e-mail" autocomplete="off" formControlName="email" />
        <mat-error>
          <app-error-control-message [control]="form.controls.email" label="E-mail"></app-error-control-message>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-4 col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Sexo</mat-label>
        <mat-select formControlName="sexo" required>
          <mat-option [value]="sexo.id" *ngFor="let sexo of listaSexo">{{ sexo.name }}</mat-option>
        </mat-select>
        <mat-error>
          <app-error-control-message [control]="form.controls.sexo" label="Sexo"> </app-error-control-message>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-md-8">
      <mat-form-field appearance="outline">
        <mat-label>Data de nascimento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dtNascimento" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>
          <app-error-control-message
            [control]="form.controls.dtNascimento"
            label="Data de nascimento"
          ></app-error-control-message>
          <!-- <app-error-control-message [control]="form.get('dtNascimento').hasError('dateValidator')" label="Data"></app-error-control-message> -->
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 d-flex align-items-end justify-content-end pt-4">
      <button mat-stroked-button class="btn btn-outline-secondary" (click)="back()">
        <i class="feather icon-arrow-left"></i>
        Voltar
      </button>
      <button
        mat-stroked-button
        class="btn btn-success ms-3"
        (click)="submitPreCadastroPaciente(2)"
        [disabled]="!form.valid"
      >
        <i class="feather icon-check"></i>
        Confirmar e continuar o Agendamento
      </button>
    </div>
  </div>
  <!-- /row-->
</form>
