<app-card-content>
  <h3 class="mb-0 mt-2 ps-1">Consultas recentes</h3>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Tipo</th> <!-- visão funcionário o tipo corresponde a Paciente ou Médico-->
          <th scope="col">Data</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Alexandro Alves</td>
          <td>
            <span>Médico</span>
          </td>
          <td>
            <span>{{ date | date: 'shortDate' }}</span>
          </td>
          <td>
            <span class="bold">Ativo</span>
          </td>
        </tr>
        <tr>
          <td>João Pedro</td>
          <td>
            <span>Paciente</span>
          </td>
          <td>
            <span>@mdo</span>
          </td>
          <td>
            <span class="bold">Ativo</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-card-content>
