tr {
  border: 1px solid #ececec;
  th {
    color: #aeaeae;
    font-weight: 400;
    text-align: start;
    padding: 0.3rem 0.15rem !important;
  }

  td {
    padding: 0.3rem 0.15rem !important;
    font-size: var(--f_14);
    font-weight: 300;

    span {
      color: #c7c7c7;
    }

    span.bold {
      color: var(--tcc-dark);
      font-weight: bold;
    }
  }
}
