<div>
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <!-- <mat-icon>person</mat-icon> -->
    <img src="../../../assets/icon-profile.svg" alt="Profile" />
    <!-- <span class="d-block">Nome</span> -->
  </button>
  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span>Olá, </span>&nbsp;<b>{{ username }}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button mat-menu-item (click)="logout()">Sair</button>
  </mat-menu>
</div>
