<div class="bg">
  <div class="container-fluid pt-3">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-md-4">
            <form action="">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Pesquise usuários por nome ou Documento</mat-label>
                <mat-icon matSuffix>search</mat-icon>
                <input matInput>
              </mat-form-field>
            </form>
          </div> <!-- /col-md-4 -->
          <div class="col-md-8 d-flex align-items-center justify-content-end">
            <div>
              <button type="button" mat-raised-button color="primary" (click)="openDialog()">Nova consulta</button>
            </div>
          </div>
        </div>
        <!-- VISÃO FUNCIONÁRIO -->
        <ng-container *ngIf="true">
         <app-table-funcionario></app-table-funcionario>
        </ng-container>
        <!-- VISÃO MÉDICO -->
        <ng-container *ngIf="false">
          <app-table-medico></app-table-medico>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- <app-loader size="1.5" [isLoading]="isLoading"></app-loader> -->
