<app-card-content class="w-100">
  <div class="row m-0">
    <div class="col-12 text-center">
      <i class="feather icon-file"></i>
    </div>
    <div class="col-12">
      <h2 class="m-0 text-center title"><i class="feather icon-eye"></i>Minhas consultas</h2>
    </div>
    <div class="col-12 text-center pt-1 pb-2">
      <span class="description-eye">Visualizar minhas consultas</span>
    </div>
    <div class="col-12 text-center">
      <button
        type="button"
        mat-raised-button
        color="primary"
        class="btn btn-primary"
        (click)="redirectMinhasConsultas()"
      >
        Visualizar
      </button>
    </div>
  </div>
</app-card-content>
