<div class="bg">
  <div class="container-fluid">
    <div class="row">
      <!--Cards left-->
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <div class="col-12">
            <app-card-content>
              <div class="row">
                <div class="col-12">
                  <h3 class="m-0 mb-3">Dados gerais</h3>
                </div>
                <div class="col-6">
                  <app-identificacao-profissional></app-identificacao-profissional>
                </div>
                <!-- <div class="col-auto p-0 line"></div> -->
                <div class="col-6">
                 <app-dados-gerais-medico></app-dados-gerais-medico>
                </div>
              </div>
            </app-card-content>
          </div>
          <div class="col-12 mt-3">
            <app-table-pacientes-home></app-table-pacientes-home>
          </div>
        </div>
      </div>
      <!-- Cards rigth-->
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <div class="col-md-4 col-sm-12 mt-sm-2 mt-md-0">
            <app-card-content cardClass="border-radius-28">
              <h1>CARD CONTENT</h1>
            </app-card-content>
          </div>
          <div class="col-md-4 col-sm-12 my-sm-2 my-md-0">
            <app-card-content cardClass="border-radius-28">
              <h1>CARD CONTENT</h1>
            </app-card-content>
          </div>
          <div class="col-md-4 col-sm-12 ">
            <app-card-content cardClass="border-radius-28">
              <h1>CARD CONTENT</h1>
            </app-card-content>
          </div>
          <div class="col-12 mt-3">
            <app-estatisticas-gerais></app-estatisticas-gerais>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
