<div class="bg">
  <!-- Visão paciente -->
  <ng-container *ngIf="perfil === 'PACIENTE'">
    <div class="container-fluid cards">
      <div class="row m-0 cards__row">
        <div class="col-md-5 col-sm-12 p-0">
          <div class="row m-0">
            <div class="col-12">
              <app-box-info-paciente></app-box-info-paciente>
            </div>
            <div class="col-12 mt-3 mb-md-0 mb-3">
              <app-pie-especialidades-paciente
                [quantitativosPorTipoEspecializacao]="quantitativosPorTipoEspecializacao"
              ></app-pie-especialidades-paciente>
            </div>
            <div class="col-12 mt-3 mb-md-0 mb-3">
              <app-semi-donout-procedimento
                [quantitativosPorTipoProcedimento]="quantitativosPorTipoProcedimento"
              ></app-semi-donout-procedimento>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-sm-12">
          <app-estatisticas-paciente [quantitativoDadosMedicos]="quantitativoDadosMedicos"></app-estatisticas-paciente>
          <div class="row mt-3 m-0">
            <div class="col-12 col-md-6 mb-md-0 mb-3">
              <app-nova-consulta-paciente></app-nova-consulta-paciente>
            </div>
            <div class="col-12 col-md-6">
              <app-minhas-consultas></app-minhas-consultas>
            </div>
            <div class="col-12 mt-3">
              <app-tabela-medicamentos></app-tabela-medicamentos>
            </div>
          </div>
        </div>
        <div class="col-12 mt-3">
          <app-tabela-diagnosticos-data [diagnosticosPorData]="diagnosticosPorData"></app-tabela-diagnosticos-data>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- Visão médicos -->
  <ng-container *ngIf="perfil === 'MEDICO'">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="row">
            <div class="col-12">
              <app-card-content>
                <div class="row">
                  <div class="col-12">
                    <h3 class="m-0 mb-3">Dados gerais</h3>
                  </div>
                  <div class="col-12">
                    <app-identificacao-profissional></app-identificacao-profissional>
                  </div>
                </div>
              </app-card-content>
            </div>
            <div class="col-12 mt-3">
              <app-table-consultas-home [perfil]="perfil" [idMedico]="idPerfil"></app-table-consultas-home>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-sm-12">
          <app-estatisticas-medico></app-estatisticas-medico>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- Visão Clínica -->
  <ng-container *ngIf="perfil === 'ADMINISTRADOR'">
    <div class="container-fluid">
      <div class="col-12">
        <app-quantitativo-usuarios [quantitativoUsuarios]="quantitativoUsuarios"></app-quantitativo-usuarios>
      </div>

      <div class="row m-0">
        <div class="col-md-6 col-12">
          <app-dados-gerais-clinica [medicoAtendimento]="medicoAtendimento"></app-dados-gerais-clinica>
        </div>
        <div class="col-md-6 col-12">
          <app-quantitativo-dados-clinica
            [consultaMensalPorStatus]="consultaMensalPorStatus"
          ></app-quantitativo-dados-clinica>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-md-6 col-12 pt-3">
          <app-pie-especializacoes-mes [especializacoesMes]="especializacoesMes"></app-pie-especializacoes-mes>
        </div>
        <div class="col-md-3 col-12 d-flex pt-3 pt-md-0">
          <app-card-novo-colaborador></app-card-novo-colaborador>
        </div>
      </div>
      <div class="col-12 mt-3 mb-4">
        <app-table-consultas-home [perfil]="perfil"></app-table-consultas-home>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="perfil === 'AUXILIAR'">
    <div class="container-fluid">
      <div class="row m-0">
        <div class="col-md-3 col-12 d-flex justify-content-center align-items-center pt-3 pt-md-0">
          <app-card-nova-consulta></app-card-nova-consulta>
        </div>
        <div class="col-md-3 col-12 d-flex justify-content-center align-items-center pt-3 pt-md-0">
          <app-card-novo-paciente></app-card-novo-paciente>
        </div>
        <div class="col-12 mt-3">
          <app-table-consultas-home [perfil]="perfil"></app-table-consultas-home>
        </div>
      </div>
    </div>
  </ng-container>
</div>
