<div class="bg">
  <!-- Visão médicos -->
  <ng-container *ngIf="perfil === 'MEDICO'">
    <div class="container-fluid">
      <div class="row">
        <!--Cards left-->
        <div class="col-md-5 col-sm-12">
          <div class="row">
            <div class="col-12">
              <app-card-content>
                <div class="row">
                  <div class="col-12">
                    <h3 class="m-0 mb-3">Dados gerais</h3>
                  </div>
                  <div class="col-12">
                    <app-identificacao-profissional></app-identificacao-profissional>
                  </div>
                  <!-- <div class="col-4">
                    <app-dados-gerais-medico></app-dados-gerais-medico>
                  </div> -->
                </div>
              </app-card-content>
            </div>
            <div class="col-12 mt-3">
              <app-table-consultas-home [perfil]="perfil" [idMedico]="idPerfil"></app-table-consultas-home>
            </div>
          </div>
          <!-- Cards rigth-->
        </div>
        <!-- /col-md-5 col-sm-12 -->
        <div class="col-md-7 col-sm-12">
          <app-estatisticas-medico></app-estatisticas-medico>
        </div>
        <!-- /col-md-5 col-sm-12 -->
      </div>
      <!-- /row-->
    </div>
  </ng-container>
  <!-- Visão Clínica -->
  <ng-container *ngIf="perfil === 'AUXILIAR' || perfil === 'ADMINISTRADOR'">
    <div class="container-fluid">
      <div class="row m-0">
        <div class="col-md-7 col-12">
          <app-dados-gerais-clinica></app-dados-gerais-clinica>
        </div>
        <div class="col-md-5 col-12">
          <app-quantitativo-dados-clinica></app-quantitativo-dados-clinica>
        </div>
        <div class="col-md-6 col-12 pt-3">
          <app-estatisticas-gerais></app-estatisticas-gerais>
        </div>
        <div class="col-md-3 col-12 d-flex justify-content-center align-items-center pt-3 pt-md-0">
          <app-card-nova-consulta></app-card-nova-consulta>
        </div>
        <div class="col-md-3 col-12 d-flex justify-content-center align-items-center pt-3 pt-md-0">
          <app-card-novo-paciente></app-card-novo-paciente>
        </div>
      </div>
      <!-- /row -->
      <!-- <div class="row mt-4">
      </div> -->
      <div class="row pb-3">
        <div class="col-12 mt-3">
          <app-table-consultas-home [perfil]="perfil"></app-table-consultas-home>
        </div>
      </div>
    </div>
  </ng-container>
</div>
