.bg-update {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 100%;
  min-height: 100vh;
  // background: linear-gradient(45deg,#4099ff,#82bcff);
  background-image: url(../../../../assets/login/bg-update-password.svg);
  background-repeat: no-repeat;
}

.mat-card {
  width: 400px;
}

h1 {
  color: var(--dark);
}

::ng-deep .aviso-senha {
  p {
    font-size: 18px;
  }

  .md-content {
    width: 550px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    display: flex;
  }
}
