<div class="row m-0 animate__fadeInRight">
  <div class="col-auto">
    <i class="feather icon-user user-icon"></i>
  </div>
  <div class="col-10">
    <div class="row header-edit">
      <div class="col-12">
        <h3 class="mb-1 name-user text-capitalize">{{ datas?.paciente?.nome }} {{ datas?.paciente?.sobrenome }}</h3>
        <hr class="m-0 w-100" />
      </div>
      <div class="col-6">
        <p class="m-0"><span>Data de nasc.: </span>{{ datas?.paciente?.dtNascimento | date: 'shortDate' }}</p>
      </div>
      <div class="col-6">
        <p class="m-0"><span>CPF: </span>{{ datas?.paciente?.cpf | mask: '000.000.000-00' }}</p>
      </div>
      <div class="col-6">
        <p class="m-0"><span>E-mail: </span>{{ datas?.paciente?.email }}</p>
      </div>
      <div class="col-6">
        <p class="m-0"><span>Sexo: </span>{{ datas?.paciente?.sexo === 2 ? 'Feminino' : 'Masculino' }}</p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <form [formGroup]="formConsulta" class="bg-procedimento">
      <div class="container row pb-4 pt-3">
        <div class="col-6">
          <h3 class="mb-0">Selecione a especializacao</h3>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Especialização</mat-label>
            <mat-select
              formControlName="especializacao"
              required
              (selectionChange)="getMedicoPorEspecilizacao($event.value)"
            >
              <mat-option [value]="sexo.id" *ngFor="let sexo of listaSexo">{{ sexo.name }}</mat-option>
            </mat-select>
            <mat-error>
              <app-error-control-message
                [control]="formConsulta.controls.especializacao"
                label="Especialização"
              ></app-error-control-message>
            </mat-error>
          </mat-form-field>
          <div class="col-12" *ngIf="messageError !== ''">
            <p class="m-0 is-invalid">{{ messageError }}</p>
          </div>
          <ng-container *ngIf="loading">
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Aguarde, buscando médicos...</span>
          </ng-container>
        </div>
        <div class="col-6">
          <h3 class="mb-0">Selecione o médico</h3>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Lista de médicos</mat-label>
            <mat-select formControlName="medico" required>
              <mat-option [value]="medico.id" *ngFor="let medico of medicos">{{ medico.name }}</mat-option>
            </mat-select>
            <mat-error>
              <app-error-control-message
                [control]="formConsulta.controls.medico"
                label="Médico"
              ></app-error-control-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <!--/col-12-->
  <div class="col-12 px-4">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Observação <span class="optional">(Opcional)</span></mat-label>
      <textarea matInput autocomplete="off"></textarea>
      <!-- formControlName="username"-->
      <!-- <mat-error>
          <app-error-control-message [control]="loginForm.controls.username" label="E-mail"></app-error-control-message>
        </mat-error> -->
    </mat-form-field>
  </div>
  <div class="col-12 d-flex align-items-end justify-content-end pt-3">
    <button mat-stroked-button class="btn btn-outline-secondary" (click)="back()">
      <i class="feather icon-arrow-left"></i>
      Voltar
    </button>
    <button mat-stroked-button class="btn btn-secondary ms-3" (click)="closeModalAndResetForm('agendar-consulta')">
      <i class="feather icon-x"></i>
      Cancelar
    </button>
    <button mat-stroked-button class="btn btn-success ms-3" (click)="confirmAgendamento(2)">
      <i class="feather icon-check"></i>
      Confirmar Agendamento
    </button>
  </div>
</div>
