<div class="row m-0 animate__fadeInRight">
  <div class="col-auto">
    <i class="feather icon-user user-icon"></i>
  </div>
  <div class="col-10">
    <div class="row header-edit">
      <div class="col-12">
        <h3 class="mb-1 name-user text-capitalize">{{ datas?.paciente?.nome }} {{ datas?.paciente?.sobrenome }}</h3>
        <hr class="m-0 w-100" />
      </div>
      <div class="col-6">
        <p class="m-0"><span>CPF: </span>{{ datas?.paciente?.cpf | mask: '000.000.000-00' }}</p>
      </div>
      <div class="col-6">
        <p class="m-0">
          <span>Convênio: </span
          >{{ datas?.paciente?.descConvenio !== undefined ? datas?.paciente?.descConvenio : 'sem registro' }}
        </p>
      </div>
      <div class="col-6">
        <p class="m-0">
          <span>Inscri. Convênio: </span
          >{{
            datas?.paciente?.nuInscricaoConvenio !== undefined ? datas?.paciente?.nuInscricaoConvenio : 'sem registro'
          }}
        </p>
      </div>
      <div class="col-6">
        <p class="m-0"><span>Telefone: </span>{{ datas?.paciente?.telefone | mask: '(00) 0 0000 0000' }}</p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <form [formGroup]="formConsulta" class="bg-procedimento">
      <div class="container row pb-4 pt-3">
        <div class="col-6">
          <h3 class="mb-0">Selecione a especializacao</h3>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Especialização</mat-label>
            <mat-select
              formControlName="especializacao"
              required
              (selectionChange)="getMedicoPorEspecilizacao($event.value)"
            >
              <mat-option [value]="especializacao.id" *ngFor="let especializacao of especializacoes">{{
                especializacao.descEspecializacao
              }}</mat-option>
            </mat-select>
            <mat-error>
              <app-error-control-message
                [control]="formConsulta.controls.especializacao"
                label="Especialização"
              ></app-error-control-message>
            </mat-error>
          </mat-form-field>
          <div class="col-12" *ngIf="messageError !== ''">
            <p class="m-0 is-invalid">{{ messageError }}</p>
          </div>
        </div>
        <div class="col-6">
          <h3 class="mb-0">Selecione o médico</h3>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Médicos disponíveis</mat-label>
            <mat-select formControlName="idMedico" required>
              <mat-option [value]="medico.id" *ngFor="let medico of medicos">{{ medico.nome }}</mat-option>
            </mat-select>
            <mat-error>
              <app-error-control-message
                [control]="formConsulta.controls.idMedico"
                label="Médico"
              ></app-error-control-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Observação <span class="optional">(Opcional)</span></mat-label>
            <textarea matInput autocomplete="off" formControlName="observacao"></textarea>
          </mat-form-field>
        </div>
        <ng-container *ngIf="loading">
          <div class="col-12">
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Aguarde...</span>
          </div>
        </ng-container>
      </div>
    </form>
  </div>
  <!--/col-12-->

  <div class="col-12 d-flex align-items-end justify-content-end pt-3">
    <button mat-stroked-button class="btn btn-outline-secondary" (click)="back()">
      <i class="feather icon-arrow-left"></i>
      Voltar
    </button>
    <button mat-stroked-button class="btn btn-secondary ms-3" (click)="closeModalAndResetForm('agendar-consulta')">
      <i class="feather icon-x"></i>
      Cancelar
    </button>
    <button mat-stroked-button class="btn btn-success ms-3" (click)="confirmAgendamento(2)" [disabled]="loading">
      <i class="feather icon-check"></i>
      Confirmar Agendamento
    </button>
  </div>
</div>
