.user-icon {
  font-size: 70px !important;
}

.name-user {
  color: var(--dark);
  font-size: 16px;
}

.header-edit {

  p {
    font-size: 14px;
    color: var(--dark);

    span {
      color: var(--tcc-secondary);
      font-weight: 500;
    }
  }

}
