<div class="row pt-2 m-0">
  <div class="col-12 table-responsive">
    <table class="w-100">
      <thead class="text-uppercase">
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Descrição</th>
          <th scope="col">Status</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let especialidade of especialidades">
          <td class="td-format">{{ especialidade?.name }}</td>
          <td class="td-format">{{ especialidade?.perfil }}</td>
          <td class="td-format">{{ especialidade?.tipoSanguineo }}</td>
          <td class="td-format width-td">
            <div class="overlay-text">
              {{ especialidade?.status === 'A' ? 'Ativo' : 'Inativo' }}
            </div>
            <div class="overlay-button">
              <button mat-raised-button color="primary" type="button" class="btn-secondary me-2" (click)="openDialog(especialidade)">
                <i class="feather icon-edit-2"></i> <!-- edit -->
              </button>
              <button mat-raised-button color="primary" type="button" class="btn-danger me-2"(click)="confirmModal()">
                <i class="feather icon-trash-2"></i> <!-- inactive user -->
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
