<app-card-content class="w-100">
  <div class="row m-0">
    <div class="col-12 text-center">
      <i class="feather icon-calendar icon-add"></i>
    </div>
    <div class="col-12">
      <h2 class="m-0 text-center title">
        <i class="feather icon-plus icon-add"></i>Consulta
      </h2>
    </div>
    <div class="col-12 text-center pt-1 pb-2">
      <span class="description-add">Agendar nova consulta</span>
    </div>
    <div class="col-12 text-center">
       <button type="button" mat-raised-button color="primary"
        class="btn-success" (click)="openDialog()">Cadastrar</button>
    </div>
  </div>
</app-card-content>
