<div class="row">
  <div class="col-12 pt-3 pt-md-0" id="chart">
    <app-card-content
      cardClass="padd-footer"
      isCardFooter="true"
      footerClass="bg-card-primary"
      [loadingLine]="loading"
      progressClass="progress-azul"
    >
      <apx-chart
        [series]="chartOptions?.series"
        [chart]="chartOptions?.chart"
        [dataLabels]="chartOptions?.dataLabels"
        [plotOptions]="chartOptions?.plotOptions"
        [xaxis]="chartOptions?.xaxis"
      ></apx-chart>
    </app-card-content>
  </div>
</div>
