<div class="row pt-4 m-0">
  <div class="col-12">
    <table class="w-100 table-tcc">
      <thead class="table-light text-uppercase">
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Telefone</th>
          <th scope="col">Sexo</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let paciente of pacientes
              | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: page,
                    totalItems: totalItems
                  }
          "
        >
          <td class="d-flex align-items-center">
            <img [src]="verificaSexoUsuario(paciente?.sexo)" alt="Icon" class="bg-profile d-inline-block" />
            <div class="d-inline-block name-profile">
              <span class="d-block name">{{ paciente?.nome }}</span>
              <span class="profile">{{ paciente?.cpf | mask: '000.000.000-00' }}</span>
            </div>
          </td>
          <td class="td-format">{{ paciente?.telefone | mask: '(00) 0 0000 0000' }}</td>
          <td class="td-format">{{ paciente?.sexo === 'M' ? 'Masculino' : 'Feminino' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 d-flex justify-content-center mb-4">
    <pagination-controls
      (pageChange)="pageChanged($event)"
      maxSize="5"
      autoHide="true"
      directionLinks="true"
      responsive="true"
      previousLabel=""
      nextLabel=""
    ></pagination-controls>
  </div>
</div>
<app-loader *ngIf="loading"></app-loader>
