::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    // background-color: transparent;
    background-color: #fafafa;
    border-radius: 6px;
    color: var(--tcc-text-color-cinza);
    cursor: pointer;
  }

  .mat-icon {
    color: var(--tcc-light);
  }

  .mat-raised-button  {
    border-radius:20px !important;
    padding: 10px 20px;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: .6em 0 !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: .8em 0 .8em 0;
  }

  .mat-form-field-infix {
    border-top: 0.5em solid transparent;
  }
}
