:root {
  --tcc-bg-container: #f1f3f6;
  --tcc-bg-menu: #fff;
  --tcc-bg-body: #fafafa;
  --tcc-blue: #4099ff;
  --tcc-indigo: #6610f2;
  --tcc-purple: #6f42c1;
  --tcc-pink: #e83e8c;
  --tcc-red: #ff5370;
  --tcc-orange: #fd7e14;
  --tcc-yellow: #ffb64d;
  --tcc-green: #2ed8b6;
  --tcc-teal: #20c997;
  --tcc-cyan: #00bcd4;
  --tcc-white: #fff;
  --tcc-gray: #6c757d;
  --tcc-gray-dark: #343a40;
  --tcc-primary: #4099ff;
  --tcc-secondary: #6c757d;
  --tcc-success: #2ed8b6;
  --white: #ffffff;
  --info: #00bcd4;
  --warning: #ffb64d;
  --danger: #ff5370;
  --light: #f8f9fa;
  --dark: #343a40;
  --tcc-active: #1bc5bd;
  --tcc-active-menu: #197bbd;
  --tcc-inactive: #f64e60;
  --tcc-info: #0dcaf0;
  --tcc-warning: #ffc107;
  --tcc-danger: #f64e60;
  --tcc-light: #bcbcbc;
  // --tcc-dark: #212529;
  --tcc-dark: #343a40;
  --tcc-bg-th: #f3f6f9;
  --tcc-text-color-cinza: #b5b5c3;
  --tcc-text-color-title: #464e5f;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --tcc-font-sans-serif: "Roboto", sans-serif;
  --tcc-font-lato: "Lato", sans-serif;
  --tcc-font-poppins: "Poppins", sans-serif;
  --tcc-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --tcc-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --f_12: 12px;
  --f_14: 14px;
  --f_16: 16px;
  --f_18: 18px;
  --f_25: 25px;
  --tcc-bg-success-progress: #2ed8b6;
  --tcc-bg-info-progress: #70a6e8;
  --tcc-bg-warning-progress: rgb(252, 174, 115);
  --tcc-bg-warning-danger: rgb(255, 82, 82);
}
