:root {
  --tcc-bg-menu: #f1f3f6;
  --tcc-bg-body: #fafafa;
  --tcc-blue: #0d6efd;
  --tcc-indigo: #6610f2;
  --tcc-purple: #6f42c1;
  --tcc-pink: #d63384;
  --tcc-red: #F64E60;
  --tcc-orange: #fd7e14;
  --tcc-yellow: #ffc107;
  --tcc-green: #198754;
  --tcc-teal: #20c997;
  --tcc-cyan: #0dcaf0;
  --tcc-white: #fff;
  --tcc-gray: #6c757d;
  --tcc-gray-dark: #343a40;
  --tcc-primary: #3699FF;
  --tcc-secondary: #6c757d;
  --tcc-success: #198754;
  --tcc-active: #1BC5BD;
  --tcc-active-menu: #197BBD;
  --tcc-inactive: #F64E60;
  --tcc-info: #0dcaf0;
  --tcc-warning: #ffc107;
  --tcc-danger: #F64E60;
  --tcc-light: #bcbcbc;
  --tcc-dark: #212529;
  --tcc-bg-th: #F3F6F9;
  --tcc-text-color-cinza: #B5B5C3;
  --tcc-text-color-title: #464E5F;
  --tcc-font-sans-serif: 'Roboto', sans-serif;
  --tcc-font-lato: 'Lato', sans-serif;
  --tcc-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --tcc-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --f_12: 12px;
  --f_14: 14px;
  --f_16: 16px;
  --tcc-bg-success-progress: #2ed8b6;
  --tcc-bg-info-progress: #70A6E8;
  --tcc-bg-warning-progress: rgb(252, 174, 115);
  --tcc-bg-warning-danger: rgb(255, 82, 82);
}
