$f_38: 38px;
$f_22: 22px;

.icon-add {
    color: var(--tcc-bg-info-progress);
    font-size: $f_38;
}

.description-add {
    font-weight: 300;
    font-size: var(--f_14);
}

.title {
    font-size: $f_22;
}

.icon-plus.icon-add {
    font-size: $f_22;
    font-weight: 800;
}

::ng-deep .aviso-senha {
    h3 {
        color: var(--dark);
    }

    h4 {
        color: var(--danger);
        font-size: 18px;
    }

    p {
        color: var(--dark);
    }

    .md-content {
        width: 500px;
    }
}
