@import "../../../../../theme/paginate";

::ng-deep .detalhes-prontuario {
  .md-content {
    width: 1200px !important;
    max-height: 90vh;
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }
}
