<div class="row pt-2 m-0">
  <div class="col-12 table-responsive">
    <ng-lottie [options]="options" height="220px" *ngIf="loading"></ng-lottie>
    <table class="w-100 table-tcc" *ngIf="consultas.length > 0; else semregistro">
      <thead class="text-uppercase">
        <tr>
          <th scope="col">Médico</th>
          <th scope="col">Procedimento</th>
          <th scope="col">Data</th>
          <th scope="col">Status</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let consulta of consultas
              | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: page,
                    totalItems: totalItems
                  };
            index as i
          "
        >
          <td class="td-format">{{ consulta?.medico?.nome }}</td>
          <td class="td-format">{{ consulta?.procedimento?.descTipoProcedimento }}</td>
          <td class="td-format">{{ consulta?.dtInicio | date: 'shortDate' }}</td>
          <td class="td-format">
            <span
              class="badge bg-secondary2"
              [ngClass]="{
                'bg-primary': consulta?.status === 'Pendente',
                'bg-success': consulta?.status === 'Confirmada',
                'bg-danger': consulta?.status === 'Cancelada',
                'bg-secondary': consulta?.status === 'Finalizada'
              }"
              >{{ consulta?.status }}</span
            >
          </td>
          <td class="text-center">
            <button
              mat-raised-button
              color="primary"
              type="button"
              class="btn-secondary"
              (click)="openModalProntuario(consulta, 'detalhes-prontuario')"
            >
              <i class="feather icon-eye"></i> ver detalhes
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 d-flex justify-content-center">
    <pagination-controls
      (pageChange)="pageChanged($event)"
      maxSize="5"
      autoHide="true"
      directionLinks="true"
      responsive="true"
      previousLabel=""
      nextLabel=""
    ></pagination-controls>
  </div>
</div>
<app-modal-animation modalID="detalhes-prontuario" modalClass="md-effect-10 detalhes-prontuario">
  <div class="md-body container p-0">
    <app-detalhes-prontuario [prontuario]="prontuario" (closeModal)="closeModal($event)"></app-detalhes-prontuario>
  </div>
</app-modal-animation>
<!-- <app-loader *ngIf="loading"></app-loader> -->
<ng-template #semregistro>
  <app-card-content *ngIf="!loading">
    <div class="row m-0">
      <div class="col-12 ps-1 mt-2 not-found">
        <p class="m-0">Nenhum registro encontrado.</p>
      </div>
    </div>
  </app-card-content>
</ng-template>
