<app-card-content>
  <h3 class="mb-0 mt-2 ps-1">Medicamentos receitados</h3>
  <div class="table-responsive">
    <ng-lottie [options]="options" height="220px" *ngIf="loading"></ng-lottie>
    <table class="table" *ngIf="medicamentos.length > 0; else semregistro">
      <thead>
        <tr>
          <th scope="col">Descrição</th>
          <th scope="col">Duração Tratamento</th>
          <th scope="col">Dosagem</th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let medicamento of medicamentos
              | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: page,
                    totalItems: totalItems
                  };
            index as i
          "
        >
          <td class="text-capitalize">{{ medicamento?.descMedicamento }}</td>
          <td>
            <span>{{ medicamento?.duracaoTratamento ? medicamento?.duracaoTratamento : 'Sem registro' }}</span>
          </td>
          <td>
            <span>{{ medicamento?.dosagem ? medicamento?.dosagem : 'Sem registro' }}</span>
          </td>
          <td>
            <span>{{ medicamento?.dtRegistro }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row m-0" *ngIf="!loading && medicamentos.length > 0">
    <div class="col-12 d-flex justify-content-center">
      <pagination-controls
        (pageChange)="pageChanged($event)"
        maxSize="5"
        autoHide="true"
        directionLinks="true"
        responsive="true"
        previousLabel=""
        nextLabel=""
      ></pagination-controls>
    </div>
  </div>
</app-card-content>

<ng-template #semregistro>
  <div class="row m-0" *ngIf="!loading">
    <div class="col-12 ps-1 mt-2 not-found">
      <p class="m-0">Nenhum registro encontrado.</p>
    </div>
  </div>
</ng-template>
