<app-card-content class="w-100">
  <div class="row m-0">
    <div class="col-12 text-center">
      <i class="feather icon-user icon-add"></i>
    </div>
    <div class="col-12">
      <h2 class="m-0 text-center title"><i class="feather icon-plus icon-add"></i>Novo Paciente</h2>
    </div>
    <div class="col-12 text-center pt-1 pb-2">
      <span class="description-add">Cadastrar novo Paciente</span>
    </div>
    <div class="col-12 text-center">
      <button
        type="button"
        mat-raised-button
        color="primary"
        class="btn btn-primary"
        (click)="modal.show('pre-cadastro')"
      >
        Cadastrar
      </button>
      <button (click)="modal.show('aviso-senha')">Open</button>
    </div>
  </div>
</app-card-content>
<app-modal-animation modalID="pre-cadastro" modalClass="md-effect-11 pre-cadastro-home">
  <div class="container md-body py-3">
    <div class="row m-0">
      <div class="col-12">
        <app-form-pre-cadastro-paciente
          novoPaciente="true"
          (closeModal)="closeModal($event)"
          (dadosUsuario)="getDadosPaciente($event, 'aviso-senha')"
        ></app-form-pre-cadastro-paciente>
      </div>
    </div>
  </div>
</app-modal-animation>
<app-modal-animation modalID="aviso-senha" modalClass="md-effect-10 aviso-senha">
  <div class="container md-body py-3">
    <div class="row m-0 text-center">
      <div class="col-12">
        <h3 class="m-0">Cadastro do usuário efetuado com sucesso!</h3>
      </div>
      <div class="col-12">
        <h4 class="m-0">Atenção!</h4>
        <p class="m-0">
          Essa senha é gerada automaticamente pelo Sistema. Será solicitado alteração no primeiro acesso do usuário a
          plataforma.
        </p>
      </div>
      <div class="col-12">
        <p class="m-0"><strong>Usuário: </strong>{{ dadosPaciente?.email }}</p>
        <p class="m-0"><strong>Senha: </strong>12345678</p>
      </div>
      <div class="col-12 mt-2">
        <button class="btn btn-primary" type="button" (click)="modal.close('aviso-senha')">Ok, entendi.</button>
      </div>
    </div>
  </div>
</app-modal-animation>
