<div class="row pt-4">
  <div class="col-12">
    <table class="table-sm w-100">
      <thead class="table-light text-uppercase">
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Documento</th>
          <th scope="col">E-mail</th>
          <th scope="col">Telefone</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of pacientes">
          <td class="d-flex align-items-center">
            <img [src]="verificaSexoUsuario(paciente?.sexo)" alt="Icon" class="bg-profile d-inline-block">
            <div class="d-inline-block name-profile">
              <span class="d-block name">{{ paciente?.name }}</span>
              <span class="profile">{{ paciente?.perfil }}</span>
            </div>
          </td>
          <td class="td-format">{{ paciente?.documento }}</td>
          <td class="td-format">{{ paciente?.email }}</td>
          <td class="td-format">({{ paciente?.ddd }}) {{ paciente?.telefone }}</td>
          <td class="td-format" [ngClass]="{'f-color-active': paciente?.status == 'A', 'f-color-inactive': paciente?.status == 'I'}">
            {{ paciente?.status == 'A' ? 'Ativo' : 'Inativo'}}
          </td>
          <td class="text-center">
            <button mat-raised-button color="primary" type="button" class="btn-iniciar-consulta">Visualizar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
