<!-- Formulário Dados Pessoais-->
<ng-container *ngIf="type === 1">
  <app-form-user [dadosUser]="dadosUser" (modalClose)="modalCloseEvent($event)"></app-form-user>
</ng-container>

<!-- Formulário Convênio -->
<ng-container *ngIf="type === 2">
  <form [formGroup]="form">
    <div class="row m-0">
      <div class="col-md-12 col-sm-12">
        <h3 class="mt-3 mb-0">Dados convênio</h3>
        <hr class="my-1" />
      </div>
      <div class="col-6 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Descrição convênio</mat-label>
          <input type="text" matInput autocomplete="off" formControlName="descConvenio" />
        </mat-form-field>
      </div>
      <div class="col-6 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nº Inscrição convênio</mat-label>
          <input type="text" matInput autocomplete="off" formControlName="nuInscricaoConvenio" />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-checkbox class="example-margin" formControlName="compartilhaDados" color="primary"
          >Compartilhar dados</mat-checkbox
        >
      </div>
      <div class="col-12 d-flex justify-content-end">
        <button type="button" class="btn btn-secondary me-3">limpar</button>
        <button type="button" class="btn btn-primary" [disabled]="loading" (click)="updatePaciente()">
          <ng-container *ngIf="loading">
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Aguarde...</span>
          </ng-container>
          <span *ngIf="!loading">salvar</span>
        </button>
      </div>
    </div>
  </form>
</ng-container>
