::ng-deep .dados-medicos {
    .md-content {
        max-height: 600px;
        overflow-y: auto;
        width: 600px;
    }
}

.detalhes {
    list-style: none;
    padding: 0;

    li {
        padding: 2px 0;
        font-size: var(--f_16);

        span {
            color: var(--black);
        }

        &:hover {
            span {
                // color: var(--tcc-primary);
                // opacity: 0.6;
            }
        }
    }
}

.dados-medicos {
    &__card {
        &--icon {
            cursor: pointer;
            &:hover {
                opacity: 0.6;
                transition: 300ms;
            }
        }
    }
}
