<!-- <app-apex-chart chartID="support-chart-1" [chartConfig]="this.chart1"></app-apex-chart> -->

<div class="row m-0">
  <!-- <div class="col-sm-12 pt-3 pt-md-0">
    <app-card-content
      cardClass="padd-footer"
      isCardFooter="true"
      footerClass="bg-card-primary"
      [loadingLine]="loading"
      progressClass="progress-azul"
    >
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="m-0 title">222</h1>
            <span class="subtitle d-block">Total de Consultas</span>
            <p class="desc m-0">Quantitativo das consultas médicas</p>
          </div>
        </div>
      </div>
      <apx-chart
        [series]="chart1.series"
        [chart]="chart1.chart"
        [title]="chart1.title"
        [colors]="chart1.colors"
      ></apx-chart>
      <div class="app-card-footer">
        <div class="row text-center py-3 text-white">
          <div class="col">
            <h4 class="m-0 text-white">10</h4>
            <span>Abertas</span>
          </div>
          <div class="col">
            <h4 class="m-0 text-white">10</h4>
            <span>Andamento</span>
          </div>
          <div class="col">
            <h4 class="m-0 text-white">10</h4>
            <span>Finalizadas</span>
          </div>
        </div>
      </div>
    </app-card-content>
  </div> -->
  <div class="col-md-6 col-12 pt-3 pt-md-0">
    <app-card-content
      cardClass="padd-footer"
      isCardFooter="true"
      footerClass="bg-card-thirt"
      [loadingLine]="loading"
      progressClass="progress-laranja"
    >
      <div class="card-body">
        <div class="row m-0">
          <div class="col-sm-8">
            <h1 class="m-0 title1">{{ quantitativoDadosMedicos?.quantiativoMedicamentos }}</h1>
            <span class="subtitle d-block">Total Cadastrado</span>
          </div>
          <div class="col-4 d-flex align-items-center justify-content-center">
            <i class="feather icon-bar-chart-2"></i>
          </div>
        </div>
      </div>
      <div class="app-card-footer">
        <div class="row text-left py-3 text-white m-0">
          <div class="col-8">
            <span>Medicamentos</span>
          </div>
          <div class="col d-flex align-items-center justify-content-center">
            <i class="feather icon-activity"></i>
          </div>
        </div>
      </div>
    </app-card-content>
  </div>
  <div class="col-md-6 col-12 pt-3 pt-md-0">
    <app-card-content
      cardClass="padd-footer"
      isCardFooter="true"
      footerClass="bg-card-secondary"
      [loadingLine]="loading"
      progressClass="progress-verde"
    >
      <div class="card-body">
        <div class="row m-0">
          <div class="col-sm-8">
            <h1 class="m-0 title2">{{ quantitativoDadosMedicos?.quantiativoAlergia }}</h1>
            <span class="subtitle d-block">Total Cadastrado</span>
          </div>
          <div class="col-4 d-flex align-items-center justify-content-center">
            <i class="feather icon-bar-chart-2"></i>
          </div>
        </div>
      </div>
      <div class="app-card-footer">
        <div class="row text-left py-3 text-white m-0">
          <div class="col-8">
            <span>Alergias</span>
          </div>
          <div class="col d-flex align-items-center justify-content-center">
            <i class="feather icon-activity"></i>
          </div>
        </div>
      </div>
    </app-card-content>
  </div>
  <div class="col-md-6 col-12 pt-3">
    <app-card-content
      cardClass="padd-footer"
      isCardFooter="true"
      footerClass="bg-card-four"
      [loadingLine]="loading"
      progressClass="progress-vermelho"
    >
      <div class="card-body">
        <div class="row m-0">
          <div class="col-sm-8">
            <h1 class="m-0 title3">{{ quantitativoDadosMedicos?.quantitativoProcedimento }}</h1>
            <span class="subtitle d-block">Total de Cadastrado</span>
          </div>
          <div class="col-4 d-flex align-items-center justify-content-center">
            <i class="feather icon-bar-chart-2"></i>
          </div>
        </div>
      </div>
      <div class="app-card-footer">
        <div class="row text-left py-3 text-white m-0">
          <div class="col-8">
            <span>Procedimentos</span>
          </div>
          <div class="col d-flex align-items-center justify-content-center">
            <i class="feather icon-activity"></i>
          </div>
        </div>
      </div>
    </app-card-content>
  </div>
  <div class="col-md-6 col-12 pt-3">
    <app-card-content
      cardClass="padd-footer"
      isCardFooter="true"
      footerClass="bg-card-primary"
      [loadingLine]="loading"
      progressClass="progress-azul"
    >
      <div class="card-body">
        <div class="row m-0">
          <div class="col-sm-8">
            <h1 class="m-0 title4">{{ quantitativoDadosMedicos?.quantiativoDoencaCronica }}</h1>
            <span class="subtitle d-block">Total Cadastrado</span>
          </div>
          <div class="col-4 d-flex align-items-center justify-content-center">
            <i class="feather icon-bar-chart-2"></i>
          </div>
        </div>
      </div>
      <div class="app-card-footer">
        <div class="row text-left py-3 text-white m-0">
          <div class="col-8">
            <span>Doenças Crônicas</span>
          </div>
          <div class="col d-flex align-items-center justify-content-center">
            <i class="feather icon-activity"></i>
          </div>
        </div>
      </div>
    </app-card-content>
  </div>
</div>
