ul {
  list-style: none;
  padding: 0;
}

.id-atendimento {
  color: var(--tcc-primary);
  text-transform: uppercase;
}

tr {
  border: 1px solid #ececec;
  th {
    color: var(--tcc-text-color-title);
    font-weight: 400;
    text-align: start;
    padding: 0.3rem 0.15rem !important;
  }

  td {
    padding: 0.3rem 0.15rem !important;
    font-size: var(--f_14);
    font-weight: 300;

    span {
      color: var(--tcc-text-color-title);
    }

    span.bold {
      color: var(--tcc-text-color-title);
      font-weight: bold;
    }

    a {
      font-size: var(--f_14);
      font-weight: 400;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        transition: 300ms;
        opacity: 0.7;
      }
    }
  }
}
