.dados-medicos {
    ul {
        padding-left: none;
    }

    li {
        list-style: none;
        padding: 2px 0;
        span {
            color: var(--black);
        }

        .id-atendimento {
            color: var(--tcc-primary);
        }
    }
}

.close-icon {
    color: var(--tcc-secondary);
    cursor: pointer;

    &:hover {
        transition: 300ms;
        opacity: 0.7;
    }
}
