::ng-deep .cdk-overlay-pane {
  // width: 80%;
}

.logo-default {
  font-size: 70px;
  color: var(--tcc-secondary);
}

::ng-deep file-upload {
  min-height: 60px !important;
  outline-offset: 0 !important;
}
::ng-deep .list-visible .upload-input {
  display: none !important;
}
