<div class="row m-0 detalhes-paciente animate__fadeInUp">
  <div class="col-12">
    <h3 class="m-0">Detalhes do paciente</h3>
    <hr class="mt-1 mb-2" />
  </div>
  <div class="col-6">
    <p class="m-0"><span>Nome: </span>{{ paciente?.nome }}</p>
  </div>
  <div class="col-6">
    <p class="m-0"><span>Convênio: </span>{{ paciente?.descConvenio }}</p>
  </div>
  <div class="col-6">
    <p class="m-0"><span>CPF: </span>{{ paciente?.cpf }}</p>
  </div>
  <div class="col-6">
    <p class="m-0"><span>Inscri. Convênio: </span>{{ paciente?.nuInscricaoConvenio }}</p>
  </div>
</div>
