.bg-icon-progress-first {
  background-color: #ffeada;
  color: #f8964c;
}

.bg-icon-progress-second {
  background-color: #ddf9e4;
  color: var(--tcc-bg-success-progress);
}

.bg-icon-progress-third {
  background-color: #e4f0ff;
  color: #70a6e8;
}

.bg-format-icon {
  height: 43px;
  width: 43px;
}

.desc {
  font-size: var(--f_14);
  color: #aeaeae;
  font-weight: 300;
}

.percent {
  color: var(--tcc-gray);
  font-size: 24px;
}
