.bg-icon-progress-first {
  background-color: #FFEADA;
  color: #F8964C;

}

.bg-icon-progress-second {
  background-color: #DDF9E4;
  color: #22A447;
}

.bg-icon-progress-third {
  background-color: #E4F0FF;
  color: #70A6E8;
}

.bg-format-icon {
  height: 43px;
  width:43px;
}

.desc {
  font-size: var(--f_14);
  color: #AEAEAE;
  font-weight: 300;
}

.percent {
  color: var(--tcc-gray);
  font-size: 24px;
}
