<form action="">
  <div class="row m-0">
    <div class="col-12">
      <h3 class="m-0">Novo Paciente</h3>
      <span>Pré-cadastro do usuário</span>
    </div>
    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nome</mat-label>
        <input type="text" matInput placeholder="Digite primeiro Nome" autocomplete="off" />
        <!-- formControlName="username"-->
        <!-- <mat-error>
              <app-error-control-message [control]="loginForm.controls.username" label="E-mail"></app-error-control-message>
            </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Sobrenome</mat-label>
        <input type="text" matInput placeholder="Digite o Sobrenome" autocomplete="off" />
        <!-- formControlName="username"-->
        <!-- <mat-error>
              <app-error-control-message [control]="loginForm.controls.username" label="E-mail"></app-error-control-message>
            </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col-12 col-md-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>CPF</mat-label>
        <input type="text" matInput placeholder="Digite o CPF" autocomplete="off" mask="000.000.000-00" />
        <!-- formControlName="username"-->
        <!-- <mat-error>
              <app-error-control-message [control]="loginForm.controls.username" label="E-mail"></app-error-control-message>
            </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col-12 col-md-8">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>E-mail</mat-label>
        <input type="text" matInput placeholder="Digite o e-mail" autocomplete="off" />
        <!-- formControlName="username"-->
        <!-- <mat-error>
              <app-error-control-message [control]="loginForm.controls.username" label="E-mail"></app-error-control-message>
            </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col-12 d-flex align-items-end justify-content-end pt-3">
      <button mat-stroked-button class="btn btn-outline-secondary" (click)="back()">
        <i class="feather icon-arrow-left"></i>
        Voltar
      </button>
      <button mat-stroked-button class="btn btn-secondary ms-3" (click)="closeModalAndResetForm('agendar-consulta')">
        <i class="feather icon-x"></i>
        Cancelar
      </button>
      <button mat-stroked-button class="btn btn-success ms-3" (click)="submitPreCadastroPaciente(2)">
        <i class="feather icon-check"></i>
        Confirmar e continuar o Agendamento
      </button>
    </div>
  </div><!-- /row-->
</form>
