<div class="container bg-prontuario">
  <app-card-content>
    <!-- Cabeçalho -->
    <div class="row m-0">
      <div class="col-12 d-flex align-items-center mb-2">
        <img src="../../../../../assets/logo-svg.svg" alt="" />
        <h1 class="m-0 d-inline ps-2">IHealth</h1>
      </div>
      <div class="col-12 my-1">
        <p class="m-0">Nome Clínica</p>
      </div>
      <div class="col-12 my-1">
        <p class="m-0">QR-1A, Conjuto RS, Casa 25, Apartamento 203 - Complemento..</p>
      </div>
      <div class="col-12 my-1">
        <p class="m-0 email">email@gmail.com</p>
      </div>
      <div class="col-12 my-1">
        <p class="m-0">(00) 0 0000-0000 - (00) 0000-0000</p>
      </div>
    </div>
    <!-- Informações do Paciente-->
    <div class="row ms-0 mt-5">
      <div class="col-4">
        <h3 class="m-0 text-uppercase">Dados do Paciente:</h3>
        <ul class="dados-medicos">
          <li>
            <h4 class="fw-bold m-0">Nome</h4>
            <span>Dr. Alex Monteiro</span>
          </li>
          <li>
            <h4 class="fw-bold m-0">Data Nascimento:</h4>
            <span>01/01/01</span>
          </li>
          <li>
            <h4 class="fw-bold m-0">Tipo Sanguíneo</h4>
            <span>A+</span>
          </li>
        </ul>
      </div>
      <div class="col-4">
        <h3 class="m-0 text-uppercase">Dados do Médico:</h3>
        <ul class="dados-medicos">
          <li>
            <h4 class="fw-bold m-0">Nome</h4>
            <span>Dr. Alex Monteiro</span>
          </li>
          <li>
            <h4 class="fw-bold m-0">CRM:</h4>
            <span>88455112</span>
          </li>
          <li>
            <h4 class="fw-bold m-0">Data Inscrição:</h4>
            <span>01/01/01</span>
          </li>
          <li>
            <h4 class="fw-bold m-0">Especialidade(s):</h4>
            <span>Cadiologista, Pediatra</span>
          </li>
        </ul>
      </div>
      <div class="col-4">
        <h3 class="m-0 text-uppercase">Identificador do Atendimento:</h3>
        <ul class="dados-medicos">
          <li>
            <h4 class="fw-bold m-0">Número</h4>
            <span class="id-atendimento fw-bold">4451254</span>
          </li>
          <li>
            <h4 class="fw-bold m-0">Data do Atendimento</h4>
            <span>01/01/01</span>
          </li>
        </ul>
      </div>
    </div>
    <!-- Cadastro da Consulta -->
    <div class="row mt-4">
      <!-- <div class="col-12">
        <h1 class="text-center">Dados da Consulta</h1>
      </div> -->
      <div class="col-12">
        <form [formGroup]="formProntuario">
          <mat-accordion class="detail-consulta">

            <!-- Alergias -->
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
              <mat-expansion-panel-header>
                <h3>Alergias</h3>
              </mat-expansion-panel-header>
              <label class="d-block mb-2">Possui alguma alergia?</label>
              <mat-radio-group aria-label="Select an option" class="d-block" color="primary" [formControl]="controlAlergia">
                <mat-radio-button [value]="option?.value" class="me-3" *ngFor="let option of optionsRadio"
                  (change)="validatorsDynamic(option.value, 'alergias')">{{ option?.description }}</mat-radio-button>
              </mat-radio-group>

              <ng-container *ngIf="controlAlergia.value === true">
                <ng-container formArrayName="alergias" *ngFor="let alergia of formArrayAlergia.controls; index as i">
                  <div class="d-block animate__fadeInUp" [formGroupName]="i">
                    <mat-form-field>
                      <mat-label>Descrição</mat-label>
                      <input matInput formControlName="descricao">
                      <mat-error class="p-0">
                      <app-error-control-message [control]="alergia.controls.descricao" label="Descrição"></app-error-control-message>
                    </mat-error>
                    </mat-form-field>

                    <mat-dialog-actions align="end">
                      <button mat-button *ngIf="i > 0" (click)="removeObject(i, 'alergia')">remover</button>
                      <button mat-button (click)="addNewObjectControl(controlAlergia.value, 'alergias')" *ngIf="i === 0">novo</button>
                    </mat-dialog-actions>
                  </div> <!-- formGroupName-->
                </ng-container> <!-- formArray -->
              </ng-container>
              <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Próximo</button>
              </mat-action-row>
            </mat-expansion-panel>

            <!-- Medicamento-->
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
              <mat-expansion-panel-header>
                <h3>Medicamento</h3>
              </mat-expansion-panel-header>

              <label class="d-block mb-2">Possui alguma alergia a medicamentos?</label>

              <mat-radio-group aria-label="Select an option" class="d-block" color="primary" [formControl]="controlMedicamento">
                <mat-radio-button [value]="option?.value" class="me-3" *ngFor="let option of optionsRadio"
                  (change)="validatorsDynamic(option.value, 'medicamentos')">{{ option?.description }}</mat-radio-button>
              </mat-radio-group>

              <ng-container *ngIf="controlMedicamento.value === true">
                <ng-container formArrayName="medicamentos" *ngFor="let medicamento of formArrayMedicamento.controls; index as i">
                  <div class="d-block animate__fadeInUp" [formGroupName]="i">
                    <mat-form-field>
                      <mat-label>Descrição</mat-label>
                      <input matInput formControlName="descricao">
                      <mat-error class="p-0">
                      <app-error-control-message [control]="medicamento.controls.descricao" label="Descrição"></app-error-control-message>
                    </mat-error>
                    </mat-form-field>

                    <mat-dialog-actions align="end">
                      <button mat-button *ngIf="i > 0" (click)="removeObject(i, 'medicamentos')">remover</button>
                      <button mat-button (click)="addNewObjectControl(controlMedicamento.value, 'medicamentos')" *ngIf="i === 0">novo</button>
                    </mat-dialog-actions>
                  </div> <!-- formGroupName-->
                </ng-container> <!-- formArray -->
              </ng-container>
              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Voltar</button>
                <button mat-button color="primary" (click)="nextStep()">Próximo</button>
              </mat-action-row>
            </mat-expansion-panel>

            <!-- Doença Crônica-->
            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
              <mat-expansion-panel-header>
                <h3>Doença Crônica</h3>
              </mat-expansion-panel-header>

              <label class="d-block mb-2">Possui alguma doença crônica?</label>

              <mat-radio-group aria-label="Select an option" class="d-block" color="primary" [formControl]="controlDoencaCronica">
                <mat-radio-button [value]="option?.value" class="me-3" *ngFor="let option of optionsRadio"
                  (change)="validatorsDynamic(option.value, 'doencaCronica')">{{ option?.description }}</mat-radio-button>
              </mat-radio-group>

              <ng-container *ngIf="controlDoencaCronica.value === true">
                <ng-container formArrayName="doencaCronica" *ngFor="let doencaCronica of formArrayDoencaCronica.controls; index as i">
                  <div class="d-block animate__fadeInUp" [formGroupName]="i">
                    <mat-form-field>
                      <mat-label>Descrição</mat-label>
                      <input matInput formControlName="descricao">
                      <mat-error class="p-0">
                      <app-error-control-message [control]="doencaCronica.controls.descricao" label="Descrição"></app-error-control-message>
                    </mat-error>
                    </mat-form-field>

                    <mat-dialog-actions align="end">
                      <button mat-button *ngIf="i > 0" (click)="removeObject(i, 'doencaCronica')">remover</button>
                      <button mat-button (click)="addNewObjectControl(controlDoencaCronica.value, 'doencaCronica')" *ngIf="i === 0">novo</button>
                    </mat-dialog-actions>
                  </div> <!-- formGroupName-->
                </ng-container> <!-- formArray -->
              </ng-container>
              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Voltar</button>
                <button mat-button color="primary" (click)="nextStep()">Próximo</button>
              </mat-action-row>
            </mat-expansion-panel>

          </mat-accordion>
        </form>
      </div>
    </div>
  </app-card-content>
</div>
